<!DOCTYPE html>
<html>
  <head>
    <title align="center">LocalMandi</title>
  </head>
  <style>
    .store_image{
      display : grid;
      grid-template-columns:15% 15% 15% 35% 15% 5% ;
    }
    .image-input{
      height:60px;
      width: 60px;
      opacity:0.8;
      padding: 15%;
    }
    .image-button{
      height:auto;
      width: auto;
      text-align: Center;
      padding: 3%;

    }
    .store-coo{
      display:flex;
      flex-wrap: wrap;
    }
    p{
      color:White;
    }
    .back-img{
    }
    .Category{
      display : grid;
      grid-template-columns: 20% 20% 20% 20%;
      }
    .outlet{
      background-size: 100%;
      background-color: White;
      opacity: 0.8;
      padding: 5%;
      height: 90%;
      width:60%;
    }
  </style>
  <body class="back-img" style="background-color:black;background-size:cover;">
    <h1 style="Color:White;text-align:Center;">LOCAPRO</h1>
    <h3 style="text-align:center;color:white;">Welcome "Store Name"</h3>
    <p>This will be our Location Prototype!</p>
    <p>Soon I will be working on the whole idea.
  </p>
  <h4 style="width:100px;height:2px;text-align:center;color:white">Store Image:</h4>
    <div class="store_image">
      <form style="padding:5%;">
        <p>Left:</p>
        <input type="text" placeholder="Left image" name="left_img" class="image-input">
        <button class="image-button"><a href="E:/__Pro.Ide/LocaPro/Beautiful-Steve-Jobs-Quote.jpg">Upload</a></button>
      </form>
      <form style="padding:5%;">
        <p>Center</p>
        <input type="text" placeholder="Center Image" name="Center-img" class="image-input">
        <a href="E:/__Pro.Ide/LocaPro/templates/Beautiful-Steve-Jobs-Quote.jpg"><button class="image-button">Upload</button></a>
      </form>
      <form style="padding:05%;">
        <p>Right</p>
        <input type="text" placeholder="Right Image" name="Right_img" class="image-input">
        <a href="E:/__Pro.Ide/LocaPro/Beautiful-Steve-Jobs-Quote.jpg"><button class="image-button">Upload</button></a>
      </form>
      <p></p>
      <form style="padding:05%;">
        <p style="width:150px;">GPS Co-ordinate</P>
        <input type="text" placeholder="Store Co-ordinate" name="store-coo" style="padding:5%;opacity:.8">
        <a href="E:/__Pro.Ide/LocaPro/Beautiful-Steve-Jobs-Quote.jpg"><button>Go</button></a>
      </form>
    </div>
    <div>
      <h3 style="width:70px;padding:35px;text-align:left;color:white;">Category:</h3>
      <div class="Category">
        <div class="outlet">
          Brand Name
          <p style="color:black">Product Image</p>
          <p style="color:black">Product Details</p>
          <div style="display:grid;grid-template-columns: auto auto;">
            <p style="color:black;text-align:left;">Price</p>
            <p style="color:black;text-align:right;">Distance</p>
          </div>
          <div style="display:grid;grid-template-columns: auto auto;">
            <p style="color:black;text-align:left;">Store Name</p>
            <p style="color:black;text-align:right;">Location</p>
          </div>
          <div style="display:grid;grid-template-columns: auto 15% auto;">
            <button style="color:black;text-align:center">Wiselist</button>
            <p></p>
            <button style="color:black;text-align:center;align:left">Buy</button>
          </div>
        </div>
        <div class="outlet">
          Brand Name
          <p style="color:black">Product Image</p>
          <p style="color:black">Product Details</p>
          <div style="display:grid;grid-template-columns: auto auto;">
            <p style="color:black;text-align:left;">Price</p>
            <p style="color:black;text-align:right;">Distance</p>
          </div>
          <div style="display:grid;grid-template-columns: auto auto;">
            <p style="color:black;text-align:left;">Store Name</p>
            <p style="color:black;text-align:right;">Location</p>
          </div>
          <p style="display:grid;grid-template-columns: auto auto;">
            <button style="color:black;text-align:center">Wiselist</button>

            <button style="color:black;text-align:center;align:left">Buy</button>
          </p>
        </div>
        <div class="outlet">
          Brand Name
          <p style="color:black">Product Image</p>
          <p style="color:black">Product Details</p>
          <div style="display:grid;grid-template-columns: auto auto;">
            <p style="color:black;text-align:left;">Price</p>
            <p style="color:black;text-align:right;">Distance</p>
          </div>
          <div style="display:grid;grid-template-columns: auto auto;">
            <p style="color:black;text-align:left;">Store Name</p>
            <p style="color:black;text-align:right;">Location</p>
          </div>
          <p style="display:grid;grid-template-columns: auto auto;">
            <button style="color:black;text-align:center">Wiselist</button>
            <button style="color:black;text-align:center;align:left">Buy</button>
          </p>
        </div>
        <div class="outlet">
          Brand Name
          <p style="color:black">Product Image</p>
          <p style="color:black">Product Details</p>
          <div style="display:grid;grid-template-columns: auto auto;">
            <p style="color:black;text-align:left;">Price</p>
            <p style="color:black;text-align:right;">Distance</p>
          </div>
          <div style="display:grid;grid-template-columns: auto auto;">
            <p style="color:black;text-align:left;">Store Name</p>
            <p style="color:black;text-align:right;">Location</p>
          </div>
          <p style="display:grid;grid-template-columns: auto auto;">
            <button style="color:black;text-align:center">Wiselist</button>
            <button style="color:black;text-align:center;align:left">Buy</button>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
